<html ng-app="myApp">

<head>
  <title>BIDV Kinh Bắc</title>
  <style>
    .container {
      padding-top: 10px;
      width: 1127px;
    }

    .container .alert-primary {
      background-color: #21409b;
      border-color: #21409b;
    }

    .card {
      display: block;
      height: 500px;
      width: 100%;
    }

    .progress {
      margin: 10px 0 10px 0;
    }

    .msg {
      line-height: 38px;
    }

    .logo {
      text-align: center;
    }

    .conf {
      width: 100%;
      text-align: center;
      font-size: 4em;
    }

    .lucky {
      font-size: 14em;
      text-align: center;
      font-weight: bold;
      color: #0808a0;
      line-height: 320px;
      display: block;
    }

    .main {
      text-align: center;
      padding: 5px 0;
      border: 1px solid #21409b;
      border-radius: 4px;
      margin-bottom: 15px;
    }

    .main .out {
      width: 122px;
      height: 60px;
      display: inline-block;
      padding: 5px;
    }

    .out .badge {
      font-size: 2em;
      padding: 0px;
      width: 100%;
      height: 100%;
      line-height: 50px;
    }

    .out .badge-danger {
      transform: scale(1.15);
      -webkit-transform: scale(1.15);
    }
    
    div.confi {
      font-size: 3em;
      padding: 10px 15px;
      text-align: center;
      line-height: 45px;
    }
  </style>
  <link rel="stylesheet" href="./bootstrap.min.css" />
</head>

<body ng-controller="LuckyController">
  <div class="container">
    <div class="alert alert-primary logo" role="alert">
      <img src="./logo.png" />
    </div>

    <div class="main">
      <span class="out" data-ng-repeat="i in arrNumber">
        <span class="badge badge-primary" ng-class="{'badge-warning': i === 66 || i === 68 || i === 86 || i === 88,'badge-danger': i == currentNumber}">{{i}}</span>
      </span>
    </div>
    <div class="alert alert-danger confi" ng-if="status">
      Congratulation! Lucky number is <span class="badge badge-danger">&nbsp;&nbsp;{{currentNumber}}&nbsp;&nbsp;</span>
    </div>

    <div class="form-row">
      <div class="form-group col-md-3">
        <button type="submit" class="btn btn-success" ng-click="getLuckyNumber()" ng-disabled="status">Get lucky</button>
        <button type="button" class="btn btn-primary" ng-click="reset()" ng-disabled="!status">&nbsp;&nbsp;Reset&nbsp;&nbsp;</button>
      </div>
    </div>
  </div>
  <audio id="myAudio">
    <source src="xoso.mp3" type="audio/mpeg">
  </audio>
  <script src="./angular.min.jx"></script>
  <script type="text/javascript">
    var myApp = angular.module('myApp', [])
    var myAudio = document.getElementById("myAudio");
    random = (min, max) => {
      return Math.random() * (max - min) + min
    }
    myApp.controller('LuckyController', ['$scope', '$interval', function($scope, $interval) {
      shuffleArray = (array) => {
        for (let i = array.length - 1; i > 0; i--) {
          let j = Math.floor(Math.random() * (i + 1));
          let temp = array[i];
          array[i] = array[j];
          array[j] = temp;
        }
      }
      getRandomNumber = () => {
        $scope.currentNumber = Math.floor(random(1, 91))
        // if ($scope.currentNumber == 71){
        //   $scope.currentNumber = 88
        // }
        // if ($scope.currentNumber == 72){
        //   $scope.currentNumber = 99
        // }
      }
      // set value
      $scope.arrNumber = []
      for (let i = 1; i <= 90; i++) {
        $scope.arrNumber.push(i)
      }
      // $scope.arrNumber.push(99)
      // $scope.arrNumber.push(88)
      shuffleArray($scope.arrNumber)
      $scope.status = false
      let arrTime = [400, 430, 330, 200]
      //let arrTime = [30, 34, 36, 37]
      $scope.getLuckyNumber = () => {
        myAudio.currentTime = 1000
        myAudio.play()
        $scope.count = 0
        let freq = 100
        // $scope.status = true
        let iTimer1 = $interval(() => {
            if ($scope.count++ > arrTime[0]) {
              $interval.cancel(iTimer1)
              let iTimer2 = $interval(() => {
                  if ($scope.count++ > arrTime[1]) {
                    $interval.cancel(iTimer2)
                    let iTimer3 = $interval(() => {
                        if ($scope.count++ > arrTime[2]) {
                          $interval.cancel(iTimer3)
                          let iTimer4 = $interval(() => {
                              if ($scope.count++ > arrTime[3]) {
                                $interval.cancel(iTimer4)
                                $scope.status = true
                                setTimeout(() => {
                                  myAudio.pause()
                                }, 1000);
                              }
                              getRandomNumber()
                            },
                            400)
                        }
                        getRandomNumber()
                      },
                      250)
                  }
                  getRandomNumber()
                },
                100)
            }
            getRandomNumber()
          },
          20)
      }

      $scope.reset = () => {
        $scope.status = false
        $scope.currentNumber = undefined
        shuffleArray($scope.arrNumber)
      }

    }])
  </script>
</body>

</html>
